<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryan Geyer</title>

    <link rel="stylesheet" href="/assets/style/style.css">
    <link rel="stylesheet" href="/assets/style/project-style.css">
    <link rel="icon" href="../../resources/favicon.png" type="image/x-icon">

</head>

<body style="padding-top: 10%; height: auto;">
    <div id="main">
        <h1 style="font-size: 5em;">Oops.</h1>
        <p style="font-size: 2em;">Sorry, this page doesn't seem to exist.</p>
        
        <div style="font-size: 1.2em;"><a href="/" class="fade-hover">Back to main page</a></div>
    </div>
</body>
</html>