$fontWeightLight: 300;
$fontWeightSemiBold: 500;
$fontWeightBold: 700;

$baseDarkColor: #222;
$baseLightColor: #fff;

$breakpoint-medium: "only screen and (max-width : 900px)";
$breakpoint-mobile: "only screen and (max-width : 600px)";

@font-face {
  font-family: LeagueSpartan;
  font-display: swap;
  src: url('./fonts/LeagueSpartan-Bold.otf') format('opentype');
  font-weight: $fontWeightBold;
}

@font-face {
  font-family: Aileron;
  font-display: swap;
  src: url('./fonts/Aileron-Light.otf') format('opentype');
  font-weight: $fontWeightLight;
}

@font-face {
  font-family: Aileron;
  font-display: swap;
  src: url('./fonts/Aileron-SemiBold.otf') format('opentype');
  font-weight: $fontWeightSemiBold;
}

@font-face {
  font-family: Aileron;
  font-display: swap;
  src: url('./fonts/Aileron-Bold.otf') format('opentype');
  font-weight: $fontWeightBold;
}

body, html {
  height: 100%;
  min-height: 100vh;
  // Default site-wide font is Aileron-Light
  font-family: Aileron;
  font-weight: $fontWeightLight;
  color: $baseDarkColor;
  transition: 0.3s ease-in-out;
}

html {
  background-color: $baseLightColor;
}

body {
  width: 80%;
  margin: 0 auto;
  // Ensure we factor padding into the width of the body
  box-sizing: border-box;
}

body.Loading {
  opacity: 0;

  main {
    opacity: 0;
  }
}

svg {
  fill: $baseDarkColor;
}

.light-text { 
  color: $baseLightColor;

  svg {
    fill: $baseLightColor;
  }
}

nav {
  position: absolute;
  right: 10%;
  top: 2em;
  text-align: right;

  a {
    margin-left: 2em;
  }
}

a {
  color: $baseDarkColor;
  font-weight: $fontWeightSemiBold;
  text-decoration: none;
  transition: opacity 0.25s;
  position: relative;

  &.no-underline::after {
    content: none;
  }

  &::after{
    content: '';
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 0;
    height: 1px;
    background-color: $baseDarkColor;
    opacity: 0.75;
    transition: width 0.25s ease-in-out;
  }

  &:hover {
    opacity: 0.75;

    &::after {
      left: 0;
      width: 100%;
    }
  }

  .light-text & {
    color: $baseLightColor;

    &::after {
      background-color: $baseLightColor;
    }
  }
}

main {
  text-align: center;
  padding-bottom: 1.25em;
}

header {
  display: inline-block;
  height: calc(100vh - 6em);
}

#HeaderContents {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  height: 100%;

  h1 {
    font-family: LeagueSpartan;
    font-size: 7em;
    margin: 0;

    @media #{$breakpoint-medium} {
      font-size: 5em;
    }

    @media #{$breakpoint-mobile} {
      font-size: 3em;
    }
  }

  p {
    font-size: 1.5em;
    text-align: right;
    margin: 0;

    @media #{$breakpoint-mobile} {
      font-size: 1em;
    }
  }
}

#projects {
  width: 100%;
  padding: 3em 0 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;

  li {
    display: inline-block;
    text-align: left;

    .thumbnail {
      display: block;
      transform-origin: bottom;
      top: 0;
      transition: opacity, top;
      transition-duration: 0.25s;
      transition-timing-function: ease-in-out;

      img {
        width: 100%;
        display: block;
      }

      &.opening {
        top: -30%;
        opacity: 0;
        transition-duration: 0.2s;
      }

      &:hover, &.hovered {
        opacity: 0.85;
        top: -2%;
      }
    }

    h3 {
      font-weight: bold;
      font-size: 1.5em;
      margin: 0.4em 0 0.2em;
    }

    p {
      margin: 0 0 0.3em;
    }

    .description {
      text-indent: 1em;
    }

    .text-link {
      margin-right: 1.85em;

      svg {
        width: 1.5em;
        position: absolute;
        right: -1.65em;
        transition: right 0.25s;
      }

      &:hover {
        svg {
          right: -1.85em;
        }
      }
    }
  }

  @media #{$breakpoint-medium} {
    grid-template-columns: repeat(2, 1fr);
  }

  @media #{$breakpoint-mobile} {
    grid-template-columns: 1fr;
  }
}

.back-button {
  margin-left: 1.3em;

  svg {
    position: absolute;
    left: -1.5em;
    width: 1.25em;
    transition: left 0.25s, opacity 0.25s;
  }

  &:hover svg {
    left: -1.7em;
    opacity: 0.75;
  }
}

#project-view {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  overflow: scroll;
  padding: 4em 10%;
  opacity: 0;
  transition: opacity 0.5s;

  .contents-wrapper {
    width: 55%;
    
    @media #{$breakpoint-medium} {
      width: 80%;
    }

    @media #{$breakpoint-mobile} {
      width: 100%;
      margin: 0;
    }
  }

  // & is sass shorthand used in nested selectors to refer to the parent selector,
  // so in this case it refers to #project-view
  .contents-wrapper, video, p, .project-links {
    opacity: 0;
    transition-timing-function: ease-in-out;
  }

  p, .project-links {
    transition: opacity;
    transition-duration: 0.3s;
  }

  .contents-wrapper, video {
    transform: translateY(5%);
    transition: opacity, transform;
    transition-duration: 0.5s;
  }

  &.visible {
    opacity: 1;

    .contents-wrapper, video, p, .project-links {
      opacity: 1;
      transform: translateY(0);
    }
  }

  h1 {
    font-family: LeagueSpartan;
    font-size: 4em;
    margin: 0.7em 0 0.1em;
  }

  video {
    width: 100%;
    margin-bottom: 1em;
    transition-delay: 0.1s;
  }

  p {
    transition-delay: 0.3s;
    font-size: 1.1em;
    line-height: 1.3;

    @media #{$breakpoint-mobile} {
      margin-left: 0;
    }
  }

  .project-links {
    transition-delay: 0.3s;

    a{
      font-size: 1.1em;
      line-height: 1.3;
      margin: 0 1em 0.3em 1.6em;

      &:last-child {
        margin-right: 0;
      }

      &.github-link svg {
        width: 1.1em;
      }

      svg {
        position: absolute;
        left: -1.6em;
        width: 1.25em;
        transition: left 0.25s, opacity 0.25s;
      }
    }
  }

  .description {
    margin: 1em 0 2em;
  }
}

#contact-view {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
  padding: 4em 10%;
  background-color: $baseLightColor;
  opacity: 0;
  transition: opacity 0.3s;

  h1 {
    font-family: LeagueSpartan;
    font-size: 4em;
    margin: 0.7em 0 0.1em;

    @media #{$breakpoint-medium} {
      font-size: 3em;
    }

    @media #{$breakpoint-mobile} {
      font-size: 2em;
    }
  }

  p {
    font-size: 1.2em;
    line-height: 1.3;
    margin-left: 3em;

    @media #{$breakpoint-mobile} {
      margin-left: 0;
    }
  }

  p:nth-child(2) {
    transition-delay: 0.15s;
  }

  @for $i from 3 to 10 {
    p:nth-child(#{$i}) { transition-delay: 0.05s + ($i * 0.05s); }
  }


  h1, p {
    transform: translateX(4%);
    opacity: 0;
    transition: transform, opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
  }

  .contents-wrapper {
    width: 55%;
    
    @media #{$breakpoint-medium} {
      width: 80%;
    }

    @media #{$breakpoint-mobile} {
      width: 100%;
      margin: 0;
    }
  }

  &.visible {
    opacity: 1;

    .contents-wrapper {
      opacity: 1;
    }

    h1, p {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

footer {
  border-top: solid 1px #707070;
  margin-top: 4em;

  .links {
    display: flex;
    justify-content: center;
    margin: 1em 0;

    .link-column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 5em;

      &:last-child {
        margin-right: 0;
      }

      a {
        text-align: left;
        font-size: 1.2em;
        margin-bottom: 0.1em;
      }

      @media #{$breakpoint-mobile} {
        margin-right: 2em;
      }
    }
  }

  p {
    margin: 0.5em 0;

    .copyright {
      margin-left: 1em;

      @media #{$breakpoint-mobile} {
        display: block;
      }
    }
  }
}