$fontWeightLight: 300;
$fontWeightSemiBold: 500;
$fontWeightBold: 700;

$baseDarkFontColor: #222;
$baseLightFontColor: #fff;

$breakpoint-medium: "only screen and (max-width : 900px)";
$breakpoint-mobile: "only screen and (max-width : 600px)";

@font-face {
  font-family: LeagueSpartan;
  font-display: swap;
  src: url('./fonts/LeagueSpartan-Bold.otf') format('opentype');
  font-weight: $fontWeightBold;
}

@font-face {
  font-family: Aileron;
  font-display: swap;
  src: url('./fonts/Aileron-Light.otf') format('opentype');
  font-weight: $fontWeightLight;
}

@font-face {
  font-family: Aileron;
  font-display: swap;
  src: url('./fonts/Aileron-SemiBold.otf') format('opentype');
  font-weight: $fontWeightSemiBold;
}

@font-face {
  font-family: Aileron;
  font-display: swap;
  src: url('./fonts/Aileron-Bold.otf') format('opentype');
  font-weight: $fontWeightBold;
}

body, html {
  height: 100%;
  min-height: 100vh;
  // Default site-wide font is Aileron-Light
  font-family: Aileron;
  font-weight: $fontWeightLight;
  color: $baseDarkFontColor;
  transition: 0.3s ease-in-out;
}

html {
  background-color: #FFF;
}

body {
  width: 80%;
  margin: 0 auto;
  // Ensure we factor padding into the width of the body
  box-sizing: border-box;
}

body.Loading {
  opacity: 0;

  main {
    opacity: 0;
  }
}

svg {
  fill: $baseDarkFontColor;
}

.light-text { 
  color: $baseLightFontColor;

  svg {
    fill: $baseLightFontColor;
  }
}

nav {
  position: absolute;
  right: 10%;
  top: 2em;
  text-align: right;

  a {
    margin-left: 2em;
  }
}

a {
  color: $baseDarkFontColor;
  font-weight: $fontWeightSemiBold;
  text-decoration: none;
  transition: opacity 0.25s;
  position: relative;

  &.no-underline::after {
    content: none;
  }

  &::after{
    content: '';
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 0;
    height: 1px;
    background-color: $baseDarkFontColor;
    opacity: 0.75;
    transition: width 0.25s ease-in-out;
  }

  &:hover {
    opacity: 0.75;

    &::after {
      left: 0;
      width: 100%;
    }
  }

  .light-text & {
    color: $baseLightFontColor;

    &::after {
      background-color: $baseLightFontColor;
    }
  }
}

main {
  text-align: center;

  transition: opacity 0.3s ease-in-out;

  &.hidden {
    opacity: 0;
  }
}

header {
  display: inline-block;
  height: calc(100vh - 3em);
}

#HeaderContents {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  height: 100%;

  h1 {
    font-family: LeagueSpartan;
    font-size: 7em;
    margin: 0;

    @media #{$breakpoint-medium} {
      font-size: 5em;
    }

    @media #{$breakpoint-mobile} {
      font-size: 3em;
    }
  }

  p {
    font-size: 1.5em;
    text-align: right;
    margin: 0;

    @media #{$breakpoint-mobile} {
      font-size: 1em;
    }
  }
}

#projects {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5em 2em;

  li {
    display: inline-block;

    .thumbnail {
      display: block;
      transition: opacity 0.25s, transform 0.25s;

      img {
        width: 100%;
        display: block;
      }

      &:hover {
        opacity: 0.85;
        transform: translateY(-3%);
      }
    }

    h3 {
      font-weight: bold;
      text-align: left;
      font-size: 1.5em;
      margin: 0.4em 0 0.2em;
    }

    p {
      text-align: left;
      margin: 0 0 0.3em;
    }

    .description {
      text-indent: 1em;
    }
  }

  @media #{$breakpoint-medium} {
    grid-template-columns: repeat(2, 1fr);
  }

  @media #{$breakpoint-mobile} {
    grid-template-columns: 1fr;
  }
}

#project-view {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4em 10%;

  // & is sass shorthand used in nested selectors to refer to the parent selector,
  // so in this case it refers to #project-view.IsVisible
  &, video, .description {
    opacity: 0;
    transform: translateY(5%);
    transition: opacity, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  h1 {
    font-family: LeagueSpartan;
    font-size: 4em;
    margin: 0.7em 0 0.1em;
  }

  video {
    width: 50%;
    transition-delay: 0.1s;
    float: left;
    margin-right: 2em;

    @media #{$breakpoint-mobile} {
      width: 100%;
      float: none;
      margin: 0;
    }
  }

  .description {
    display: block;
    transition-delay: 0.3s;
    text-indent: 1em;

    @media #{$breakpoint-mobile} {
      margin-left: 0;
    }
  }

  .back-button {
    margin-left: 1.5em;

    svg {
      position: absolute;
      left: -1.3em;
      width: 1.25em;
      transition: left 0.25s, opacity 0.25s;
    }

    &:hover svg {
      left: -1.5em;
      opacity: 0.75;
    }
  }
}

#project-view.IsVisible {
  &, video, .description {
    opacity: 1;
    transform: translateY(0);
    transition-duration: 0.5s;
  }
}

footer {
  border-top: solid 1px #707070;
  margin-top: 4em;
}