
$fontWeightLight: 300;
$fontWeightSemiBold: 500;
$fontWeightBold: 700;

$baseDarkColor: #222;
$baseLightColor: #fff;

$breakpoint-large: "only screen and (max-width : 1200px)";
$breakpoint-medium: "only screen and (max-width : 900px)";
$breakpoint-mobile: "only screen and (max-width : 600px)";
$breakpoint-medium-up: "only screen and (min-width : 601px)";